header {
    padding: 20px;
    background: #AB4646;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    nav {
        @include flex(center, center);
        margin: 0 auto;
    }

    a {
        color: white;
        margin: 0 30px;
    }
}
