section.single {
    width: 1000px;
    max-width: 100%;
    padding: 0 15px;
    margin: 50px auto 0;
    position: relative;

    button.remove {
        position: absolute;
        right: 20px;
        top: 16px;
        @include flex(center, center);
        border: 1px solid #333;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        font-size: 1rem;
    }


    >article {
        margin-top: 30px;
    }

    h2 {
        color: #AB4646;
        font-size: 2.4rem;
        border-bottom: 1px solid #AB4646;
        margin-bottom: 14px;
    }

    .write-area {
        margin-top: 30px;
    }

    .text {
        line-height: 1.5;
        margin-top: 10px;
        color: #333333;
    }
}

p.noto {
    font-family: 'Noto Sans JP', sans-serif;
}

p.notos {
    font-family: 'Noto Serif JP',
        serif;
}

p.mplus {
    font-family: 'M PLUS 1p',
        sans-serif;
}

p.yugo {
    font-family: YuGothic,
        "Yu Gothic Medium",
        "Yu Gothic",
        sans-serif;
}

p.yumin {
    font-family: "YuMincho",
        "Yu Mincho",
        sefif;
}

p.shinmarugo {
    font-family: a-otf-ud-shin-maru-go-pr6n,
        sans-serif;
}

p.shingo {
    font-family: a-otf-ud-shin-go-pr6n,
        sans-serif;
}

p.reimin {
    font-family: a-otf-ud-reimin-pr6n,
        sans-serif;
}

p.ryumin {
    font-family: a-otf-ryumin-pr6n,
        serif;
}

p.midashigo {
    font-family: a-otf-midashi-go-mb31-pr6n,
        sans-serif;
}

p.futomin {
    font-family: a-otf-futo-min-a101-pr6n,
        serif;
}

p.gothicbbb {
    font-family: a-otf-gothic-bbb-pr6n,
        sans-serif;
}

p.futogo {
    font-family: a-otf-futo-go-b101-pr6n,
        sans-serif;
}