            section.view_wrap {
                width: 1000px;
                max-width: 100%;
                padding: 0 15px;
                margin: 50px auto 0;
                background: #f0f0f0;
                padding: 60px;

                .select_view {
                    @include flex(flex-start, stretch);
                }

                .c-single {
                    width: 200px;
                    position: relative;
                    margin-bottom: 8px;
                    margin-right: 12px;

                    input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                    }

                    label {
                        display: block;
                        width: 100%;
                        border: 1px solid $red1;
                        background: inherit;
                        text-align: center;
                        padding: 8px;
                        color: $red1;
                        border-radius: 30px;
                    }

                    input:checked+label {
                        background: $red1;
                        color: white;
                    }
                }

                article.text_view {
                    padding: 40px;
                    background: white;
                    margin-top: 30px;
                }
            }