$black1:#333333;
$black2:#666666;

$gree1:#999999;
$gree2:#F5F5F5;

$orange1:#bc9b61;

$red1:#AB4646;

$green1:#cee4cf;
$green2:#7BCE00;
$green3:#097710;

$border1:#dddddd;
$border2:#053C08;
$border3:#aaaaaa;

$grad1:linear-gradient(to bottom, #097710 0%, #053c08 100%);
$grad2:linear-gradient(45deg, #7BCE00 0%, #097710 100%);